.menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.menu a,
.menu button,
.mobileBtn {
  background-color: #eee;
  border-radius: 0.2rem;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.1s;
  cursor: pointer;
}

.menu a:hover,
.menu a:focus,
.menu button:hover,
.menu button:focus {
  background-color: white;
  box-shadow: 0 0 0 3px #eee;
  border-color: #333;
  outline: none;
}

.menu a:global(.active),
.menu button:global(.active),
.mobileBtn:hover,
.mobileBtn:focus,
.mobileBtn.active {
  background-color: white;
  box-shadow: 0 0 0 3px #fea;
  border-color: #fb1;
  outline: none;
}

.menu a:global(.active) svg > *,
.menu button:global(.active) svg > *,
.mobileBtn:hover,
.mobileBtn:focus,
.mobileBtn.active,
.menuMobile a:hover,
.menuMobile a:focus,
.menuMobile button:hover,
.menuMobile button:focus,
.menuMobile a:hover svg > *,
.menuMobile a:focus svg > *,
.menuMobile button:hover svg > *,
.menuMobile button:focus svg > * {
  fill: #fb1;
  color: #fb1;
}

.mobileBtn {
  padding: 0px;
}

.mobileBtn::after {
  content: '';
  display: block;
  width: 1.2rem;
  height: 2px;
  border-radius: 2px;
  background-color: currentColor;
  box-shadow: 0 6px currentColor, 0 -6px currentColor;
  transition: 0.3s;
}

.mobileBtn.active::after {
  transform: rotate(-90deg);
  width: 4px;
  height: 4px;
  box-shadow: 0 8px currentColor, 0 -8px currentColor;
}

.menuMobile {
  display: block;
  position: absolute;
  top: 70px;
  right: 0px;
  padding: 0 1rem;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
  transform: translateX(-10px);
  opacity: 0;
  pointer-events: none;
}

.menuMobile.menuActive {
  transition: 0.3s;
  transform: initial;
  pointer-events: initial;
  opacity: 1;
  z-index: 100;
}

.menuMobile a,
.menuMobile button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: none;
  width: 100%;
  border: none;
  border-bottom: 1px solid #eee;
  padding: 0.5rem 0;
  cursor: pointer;
}

.menuMobile button {
  border-bottom: none;
}
